.cardContent {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    /* cursor: pointer; */
}

.ratio {
    margin-left: 20px;
    margin-right: 10px;
}

.actionArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}