.splitView {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto;
    column-gap: 50px;
    row-gap: 70px;
}

.leftSide {
    /* margin: 30px; */
}

.rightSide {
    /* margin: 30px; */
}

.textArea {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 15px;
}

.rankingPanel {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

/* .splitView {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */